@using AryanITC.Core.FilePath
@model AryanITC.Domain.ViewModels.AboutUs.FilterAboutUsViewModel
@{
    ViewData["Title"] = "درباره ما";
}


@section AdminBreadCrumb
{
    <ul class="breadcrumb float-md-left">
        <li class="breadcrumb-item float-right"><a asp-action="Index" asp-controller="Home"><i class="zmdi zmdi-home"></i> آریان ITC </a></li>
        <li class="breadcrumb-item float-right"><a asp-action="Index"> لیست درباره ما </a></li>
    </ul>
}

@*<div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorText))
    {
        <div class="alert alert-danger">
            <p>@ViewBag.ErrorText</p>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.SuccessText))
    {
        <div class="alert alert-success">
            <p>@ViewBag.SuccessText</p>
        </div>
    }
</div>*@

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-3 col-sm-12">
            
            <a asp-controller="AboutUs" asp-action="CreateAboutUs" class="btn-success custom-btn-create waves-effec">
                افزودن درباره ما
            </a>
            <div class="card">
                <div class="header">
                    <h2>فیلتر درباره ما</h2>
                </div>
                <div class="body">
                    <form method="get" asp-controller="AboutUs" asp-action="Index"   id="AboutUsForm">
                        <input type="hidden" asp-for="PageId" />
                        <div class="form-group">
                            <label asp-for="AboutUsTitle">  </label>
                            <input type="text" asp-for="AboutUsTitle" class="form-control" />
                        </div>


                        <label class="margin-bottom-0" asp-for="AboutUsState">وضعیت</label>
                        <select class="form-control show-tick" tabindex="-98" asp-for="AboutUsState">
                            <option value="0">همه</option>
                            <option value="1">حذف شده</option>
                            <option value="2">حذف نشده</option>

                        </select>

                        <div class="">
                            <input type="submit" class="btn btn-raised btn-primary btn-round waves-effect" value="جستجو" />
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="card">
                <div class="header">
                    <h2> در باره ما <strong> آریان ITC </strong></h2>
                </div>
                <div class="body">

                    @if (Model.AboutUs.Count == 0)
                    {
                        <div class="alert alert-danger">
                            متاسفیم!!! آیتمی برای نمایش پیدا نشد
                        </div>
                    }
                    else
                    {
            

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>عکس</th>
                                            <th>عنوان</th>
                                            <th>فعال</th>
                                            <th>حذف شده</th>
                                            <th>عملیات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model.AboutUs)
                                        {
                                            <tr>
                                                 
                                                    @if (item.AboutUsImage == null)
                                                    {
                                                        <td>
                                                            <img class="thumbnail" src="@(FilePath.AboutUsImage + item.AboutUsImage + "Default.jpg")" style="max-width: 50px" />

                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <img class="thumbnail" src="@(FilePath.AboutUsImage + item.AboutUsImage)" style="max-width: 50px"/>

                                                        </td>
                                                    }

                                                    <td>@item.AboutUsTitle</td>
                                                <td>
                                                    @if (item.IsActive)
                                                    {
                                                        <span class="text-success">
                                                            <i class="material-icons">done</i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            <i class="material-icons">clear</i>
                                                        </span>
                                                    }

                                                </td>
                                                <td>
                                                    @if (item.IsDelete)
                                                    {
                                                        <span class="text-success">
                                                            <i class="material-icons">done</i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            <i class="material-icons">clear</i>
                                                        </span>
                                                    }

                                                </td>
                                                <td>
                                                    @if (!item.IsDelete)
                                                    {
                                                        <a title="ویرایش" asp-controller="AboutUs" asp-action="EditAboutUs" asp-route-id="@item.Id"    >
                                                            <i class="material-icons">create</i>
                                                        </a>
                                                        <a title="حذف" asp-controller="" asp-action="" >
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    
                                                       
                                                    }
                                                    else
                                                    {
                                                        <a title="بازگردانی" asp-controller="" asp-action="" >
                                                            <i class="material-icons">restore</i>
                                                        </a>
                                                    }
                                                </td>
                                               
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>

                      
                    }
                    
                    <div class="row">
                    @if (Model.AllPageCount >0)
                        {
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                            {
                                                <li class="paginate_button page-item @((Model.PageId == i) ? "active" : "")">
                                                    <a asp-action="Index" asp-route-pageId="@i" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link" PFormId="AboutUsForm">@i</a>
                                                </li>
 
                                            }
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        }
                  
                    </div>
            
                </div>
            </div>
        </div>
    </div>
</div>