@using AryanITC.Core.FilePath
@model List<AryanITC.Domain.ViewModels.Service.ServiceViewModel>
@{
    ViewData["Title"] = "Services";
}



<!--Service-->
@*<div class="container-fluid">*@

@if (Model.Any())
{

    <!-- Services List -->

    <section id="service">
        <div class="row clearfix">

            <div class="container">
                <div class="services_block">
                    <div class="section-title">
                        <h2> @ViewData["ServiceTitle"] </h2>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="services_area">


                            <div class="col-lg-4">
                                <div class="services_block">
                                    @*<img width="617" height="480" src="@(FilePath.ServiceImage + item.ServiceImage)" alt="آریان">*@
                                    <div class="service_icon icon2

                             delay-03s animated wow zoomIn"> <span style="background: @item.FontAwesomeColor"><i class=@item.FontAwesome></i></span> </div>
                                    <h3 class="animated fadeInUp wow">@item.ServiceTitle</h3>
                                    <p class="animated fadeInDown wow">@item.ServiceDescription</p>
                                    <br />
                                    <a href="@item.ServiceLink" class="animated fadeInDown wow">@item.ServiceLink</a>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </section>


}

<!--Service-->
@*</div>*@
