@using AryanITC.Core.FilePath
@model List<AryanITC.Domain.ViewModels.AboutUs.AboutUsViewModel>
<!--Main Slider-->
 
@if (Model.Any())
{
    <main dir="ltr">

        <div class="container-fluid">
            <div class="clearfix">
                <div class="col-md-6 col-sm-12">

                    @foreach (var item in Model)
                    {
                        <img width="617" height="480" src="@(FilePath.AboutUsImage + item.AboutUsImage)" alt="">
                    }
                </div>

                <div class="col-sm-5">
                    <div class="">
                        <div class="top_content">
                            <div class="row">
                                <div class=" ">
                                    <div class="top_left_cont fadeInLeft wow animated">

                                        <h3> @ViewData["AboutUsTitle"] </h3>

                                        @foreach (var item in Model)
                                        {
                                            <h2>
                                                @item.AboutUsTitle

                                            </h2>

                                            <p class="text-right">
                                                @item.AboutUsDescription
                                            </p>
                                            <a href="#service" class="learn_more2">@item.AboutUsLink</a>


                                        }
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-5"> </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>
}
       
  <!--Main Slider-->
